<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

    </head>
    <body>


        {% for article in articles %}
            <h1>{{ article.name }}</h1>
        <p>{{ article.content }}</p>
        <h3>{{ article.nonDeletedComments|length }} Comments</h3>
            {% for comment in article.nonDeletedComments %}
                <p> {{ comment.content }}</p>
            {% endfor %}
        {% endfor %}

    </body>
</html>
