<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

    </head>
    <body>

        <h1>{{ article.name }}</h1>
        <p>{{ article.content }}</p>
        <h3>{{ article.comments|length }} Comments</h3>
        {% for comment in article.comments %}
            <p> {{ comment.content }}</p>
        {% endfor %}

    </body>
</html>
